<p id="notice"><%= notice %></p>

<h1>Listing Edges</h1>

<table class="table">
  <thead>
    <tr>
      <th>Card a</th>
      <th>Card b</th>
      <th>Relation</th>
      <th>Opperation</th>
    </tr>
  </thead>

  <tbody>
    <% @edges.each do |edge| %>
      <tr>
        <td><%= edge.card_a %></td>
        <td><%= edge.card_b %></td>
        <td><%= edge_relation_str edge.relation %></td>
        <td>
          <%= link_to 'Show', edge %> |
          <%= link_to 'Edit', edit_edge_path(edge) %> |
          <%= link_to 'Destroy', edge, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edge', new_edge_path %>
