<div class="col-md-4">
  <%= form_tag({controller: 'boards', action: :add_user}) do %>
      <% if flash[:alert] %>
          <div id="error_explanation">
            <%= flash[:alert] %>
          </div>
      <% end %>

      <div class="form-group">
        <%= label_tag :email, 'email' %>
        <%= text_field_tag :email, params[:email], class:'form-control', type: :email %>
      </div>

      <%= button_tag 'Add user', type: :submit, class: 'btn btn-default' %>
  <% end %>
</div>