<p id="notice"><%= notice %></p>

<h1>Boards</h1>

<%= link_to new_board_path do  %>
  <span class="glyphicon glyphicon-plus"></span> New Board
<% end %>

<ul id="boards" class="list-unstyled">
  <% @boards.each do |board| %>
      <li class="board">
        <%= link_to board.name, board, class: 'board-name' %>
        <div class="board-action-panel">

          <%= link_to edit_board_path(board),  class: 'board-edit btn btn-default' do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>

          <%= link_to board, method: :delete, class: 'btn btn-default', data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>

        </div>
    </li>
  <% end %>
</ul>
