<div class="card-body">
  <div>
    <% parent = card.parent  %>
    <% if parent %>
        <div id="parent">
          Parent: <%= link_to parent.title , card_path(parent), remote: true %>
        </div>
    <% end %>


  <div class="card-info">
    <% if card.start_date || card.due_date %>
      <div>
        <% if card.start_date %>
            <span class="label label-default">Start date: <%= card.start_date %></span>
        <% end %>

        <% if card.due_date %>
            <span class="label label-default">Due date: <%= card.due_date %></span>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= card.html.html_safe %>

  <%= render partial:'relatives', object: card.related_cards, as: 'relatives' %>

  </div>

</div>
<%= render partial:'card_user/users', object: card, as: 'card' %>

<div class="comments">
  <%= link_to 'Add new comment', new_comment_path(card_id:@card.id), class: 'btn btn-primary add-new-comment', remote: true  %>

  <%= comments_tree_for @card.comments.hash_tree %>
</div>

