<div class="card-body">
  <div id="relatives">
    <% parent = card.parent  %>
    <% if parent %>
        <div id="parent">
          Parent: <%= link_to parent.title , card_path(parent), remote: true %>
        </div>
    <% end %>


  <div class="card-info">
    <% if card.start_date || card.due_date %>
      <div>
        <% if card.start_date %>
            <span class="label label-default">Start date: <%= card.start_date %></span>
        <% end %>

        <% if card.due_date %>
            <span class="label label-default">Due date: <%= card.due_date %></span>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= card.html.html_safe %>


    <% unless card.children.empty? %>
        children:
        <ul id="children-cards" class="list-unstyled">
          <% card.children.each do |card| %>
              <li><%= link_to card.title , card_path(card), remote: true %></li>
          <% end %>
        </ul>
    <% end %>

    <% unless card.a_edges.empty? %>
        to
        <ul id="linked-to-cards" class="list-unstyled">

          <% card.a_edges.where('relation != 1').each do |edge| %>
              <li>
                <%= link_to edge.card_b.title , card_path(edge.card_b), remote: true %>
                <%= edge.relation %>
              </li>
          <% end %>
        </ul>
    <% end %>

    <% unless card.b_edges.empty? %>
        from:
        <ul class="list-unstyled">
          <% card.b_edges.where('relation != 1').each do |edge| %>
              <li>
                <%= link_to edge.card_a.title , card_path(edge.card_a), remote: true %>
                <%= edge.relation %>
              </li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>
<div class="comments">
  <%= link_to 'Add new comment', new_comment_path(card_id:@card.id), class: 'btn btn-primary add-new-comment' %>

  <%= comments_tree_for @card.comments.hash_tree %>
</div>

