<%= form_for(@card) do |f| %>

    <% if @card.id %>
        <%= f.hidden_field :group_id %>
    <% else %>
        <%= f.hidden_field :group_id, value: params[:group_id] %>
    <% end %>

    <div class="form-group">
      <%= f.label :text %><br>
      <%= f.text_area :text, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.button  'OK', type: 'submit', class: 'btn btn-default' %>
    </div>
<% end %>
