<div class="card-content">
  <div class="card-heading">
    <%= link_to card.title, card_path(card), remote: true %>

    <% parent = card.parent  %>
    <% if parent %>
        <span>
            is child of:
          <%= link_to parent.title , card_path(parent), remote: true %>
        </span>
    <% end %>

  </div>


    <div class="card-info">
      <div>
        <span class="glyphicon glyphicon-link"></span>
        <span class="card-link-length"><%= card.count_relatives %></span>
      </div>
    </div>

    <div class="card-operations">
      <%= link_to card_path(card) do %>
          <span class="glyphicon glyphicon-arrow-up"></span>
          Show
      <% end %>

      <%= link_to card, method: :delete, data: {confirm: 'Are you sure?'}, remote: true do %>
          <span class="glyphicon glyphicon-trash"></span>
          Delete
      <% end %>

      <%= link_to edit_card_path(card), remote:true do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
      <% end %>


      <%= link_to new_card_path(parent_id: card, group_id: card.group.id), remote: true do %>
          <span class="glyphicon glyphicon-plus"></span>
          Add child
      <% end %>

      <span class='card-link-to' data-toggle="tooltip" data-placement="left" title="Connect to">
          <span class="glyphicon glyphicon-link"></span>
      </span>

    </div>


</div>
