<div class="card-content">
  <div class="card-heading">
    <%= link_to card.title, card_path(card), remote: true %>
  </div>


    <div class="card-info">
      <% if card.comments.any? %>
        <span>
          <span class="glyphicon glyphicon-comment"></span>
          <%= card.comments.count %>
        </span>
      <% end %>
    </div>

    <div class="card-operations">
      <%= link_to edit_card_path(card) do %>
          <span class="glyphicon glyphicon-pencil"></span>
      <% end %>

      <%= link_to new_edge_path(card_a_id:card, relation: undirected) do %>
        <span class="glyphicon glyphicon-link"></span>
      <% end %>

      <%= link_to new_edge_path(card_a_id:card, relation: parent) do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>

      <%= link_to new_edge_path(card_a_id:card, relation: directed) do %>
        <span class="glyphicon glyphicon-arrow-right"></span>
      <% end %>

    </div>


</div>
