<% if notice %>
    <div id="notice"><%= notice %></div>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to @card.group.board, board_path(@card.group.board) %></li>
  <li><%= link_to @card.group, group_path(@card.group) %></li>
  <li class="active"><%= @card %></li>
</ol>

<div class="card-show">
  <div class="card-title edit-bar-container">
    <%= render partial: 'cardtitle', locals: { card: @card } %>
  </div>

  <%= render @card %>
</div>