<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @card.text %>
</p>

<p>
  <strong>Html:</strong>
  <%= @card.html %>
</p>

<p>
  <strong>Group:</strong>
  <%= @card.group %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @card.due_date %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @card.start_date %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
