<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="<%= image_url('mind.ico') %>" type="image/x-icon">
  <title>Chronos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Chronos</a>
    </div>

    <% if @current_user %>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Boards <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% @current_user.boards.each do |board| %>
                <li>
                  <%= render partial: 'boards/my_board', object: board, as: :board %>
                </li>
              <% end %>

              <% @current_user.available_boards.each do |board| %>
                  <li>
                    <%= render partial: 'boards/available_board', object: board, as: :board %>
                  </li>
              <% end %>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= @current_user %><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Settings', user_path(@current_user) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Log out', logout_path, method: :delete %></li>
            </ul>
          </li>
        </ul>

        <form class="navbar-form">
          <div class="form-group" style="display:inline;">
            <div class="input-group" style="display:table;">
              <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
              <input class="form-control" name="search" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="text">
            </div>
          </div>
        </form>
      </div><!-- /.navbar-collapse -->
    <% end %>

  </div><!-- /.container-fluid -->
</nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
